.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: flex;
    align-items: center;

}

.img-box{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
}

.img-box2{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
    background: url(s2.jpg);
    background-size: cover;
    background-position: center;
}

.img-box3{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
    background: url(s3.jpg);
    background-size: cover;
    background-position: center;
}

.img-box4{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
    background: url(s4.jpg);
    background-size: cover;
    background-position: center;
}

.img-box5{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
    background: url(s5.jpg);
    background-size: cover;
    background-position: center;
}

.img-box6{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
    background: url(s6.jpg);
    background-size: cover;
    background-position: center;
}

.img-box7{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
    background: url(s7.jpg);
    background-size: cover;
    background-position: center;
}

.img-box8{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
    background: url(s8.jpg);
    background-size: cover;
    background-position: center;
}

.img-box9{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
    background: url(s9.jpg);
    background-size: cover;
    background-position: center;
}
.img-box h3{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    text-align: center;
    transition: bottom 0.5s, opacity 0.5s, text-align 0.1s;
}

.img-box:hover{
    width: 300px;
    cursor: pointer;
}

.img-box:hover h3{
    opacity: 1;
    bottom: 25px;
    text-align: center;
}

